/*** Sub pages ***/
.bodysubpage #ja-mainbody {
    width: auto;
    max-width: 758px;
    min-height: 515px;
    margin-top: 20px;
    border-right: 1px solid #EAE8AF;
}

.bodysubpage #ja-main .inner {
    padding: 0;
}

.bodysubpage #ja-right {
    width: auto;
    max-width: 210px;
    margin-top: 20px;
}

.bodysubpage #ja-right2 {
    min-width: 205px;
}

.bodysubpage #ja-contentwrap {
    min-width: 758px;
}

/* System message */
.bodysubpage #system-message {
    max-width: 745px;
}

/* top banner */
.bodysubpage #ja-topbanner {
    height: 60px;
}

.bodysubpage #ja-topbanner .main {
    background: url("/images/background/sub-cntr-blue-bg.png") repeat-x scroll 0 0 #FFFFFF;
    max-width: none;
    width: 100%;
    height: 60px;
}

.bodysubpage #ja-topbanner .main .ja-moduletable {
    margin: 0 auto;
    max-width: 990px;
}

.bodysubpage #ja-topbanner h3 {
    color: #B1CCD9;
    font-size: 500%;
    font-weight: 100;
    padding: 10px 0 0 0;
    
}

/* Data table */
.bodysubpage table.dataTable thead th {
    color: #555;
}

/* modules */
.bodysubpage div.ja-module,
.bodysubpage div.module {
    margin: 0;
}

/* breadcrums */
.bodysubpage #ja-breadcrums span a {
    text-transform: none;
}

/* content top */
.bodysubpage .ja-content-top {
    width: 195px;
    float: left;
    min-height: 515px;
    /*border-right: 1px solid #EAE8AF;*/
}

/* left column module title */
.bodysubpage .ja-content-top h3 {
    font-size: 26px;
    margin: 0;
}

/* categories */
.bodysubpage .ja-content-top ul.categories-module {
    background: url("/images/background/sub-nav-bg.png") repeat-y scroll 0 0 #FFFFFF;
    list-style-type: none;
    padding: 15px 10px;
    margin: 0 0 10px 0;
}

.bodysubpage .ja-content-top ul.categories-module li {
    list-style-type: none;
    padding: 5px 0 0 0;
}

.bodysubpage .ja-content-top ul.categories-module li h5 a {
    color: #000;
    font-size: 14px;
}

/* latest events */
.bodysubpage .ja-content-top div.moduletable-latestEvents {
    margin: 0;
}

.bodysubpage .ja-content-top ul.latestEvents {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bodysubpage .ja-content-top ul.latestEvents li {
    background: url("/images/buttons/circlearrow-bullet.png") no-repeat 0px 5px;
    padding: 5px 0 0 20px;
}

.bodysubpage .ja-content-top ul.latestEvents li h5 a {
    color: #666;
    font-size: 14px;
}

/* content main */
.bodysubpage .ja-content-main {
    width: 530px;
    float: right;
    padding: 0px 15px;
}

.bodysubpage .ja-content-main .items-row {
    padding-top: 0;
}

.bodysubpage .ja-content-main h2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: none;
}

.bodysubpage .ja-content-main h3 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
}

.bodysubpage .ja-content-main p {
    margin: 10px 0 10px 0;
}

.bodysubpage .ja-content-main ul {
    list-style: disc inside none;
}

/* content main image */
.bodysubpage .ja-content-main p img {
    max-width: 100%;
    max-height: 220px;
    padding-bottom: 10px;
}

/* Right box on sub page */
#rightBox {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
}

#rightBox div {
    padding-bottom: 35px;
}

#rightBox h4 {
    font-family: 'DINNextW01-CondensedBol';
    font-size: 26px;
    font-weight: normal;
}

/* Donate online */
div.donateOnline {
    width: 208px;
}

/* Sponsor a child */
div.sponsorAChild {
    width: 187px;
    background: url("/images/background/sponsor-child-bg.png") no-repeat 0px 0px;
    border: solid 1px #7B97A5;
}

div.sponsorAChild table {
    margin-top: 10px;
}

div.sponsorAChild table tr td {
    vertical-align: top;
    color: #578CB7;
    font-size: 14px;
    font-weight: bold;
}

div.sponsorAChild p.intro {
    font-size: 14px;
}

div.sponsorAChild p.details {
    font-size: 12px;
}

.bodysubpage .ja-content-main div.sponsorChildrenList div.child {
    width: 150px;
    height: 240px;
    float: left;
    margin-right: 25px;
}

.bodysubpage .ja-content-main div.sponsorChildrenList {
    padding: 20px 0;
}

.bodysubpage .ja-content-main div.sponsorChildrenList div.child div.photo {
    width: 150px;
    padding: 0;
}

.bodysubpage .ja-content-main div.sponsorChildrenList div.child div.photo img {
    width: 150px;
    margin: 0;
}

.bodysubpage .ja-content-main div.sponsorChildrenList div.child div.description {
    margin: 10px 0 0 0;
    text-align: center;
}

.bodysubpage .ja-content-main div.sponsorChildrenList div.child div.description span {
    display: block;
}

.bodysubpage .ja-content-main div.sponsorChildView div.photo {
    width: 220px;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 20px 20px 0 0;
}

.bodysubpage .ja-content-main div.sponsorChildView div.photo img {
    width: 220px;
    margin: 0;
}

.bodysubpage .ja-content-main div.sponsorChildView div.description {
    width: 290px;
    margin: 20px 0;
    float: left;
    overflow: hidden;
    position: relative;
}

.bodysubpage .ja-content-main div.sponsorChildView div.description span {
    display: block;
}

/* Request adoption information */
div.requestAdoptionInfo {
    width: 189px;
    background-color: #EC9F00;
    margin-top: 5px;
}

div.requestAdoptionInfo h4 {
    color: #FFF;
}

div.requestAdoptionInfo p {
    font-size: 14px;
}

div.requestAdoptionInfo a:link {
	color: #fff;
}

div.requestAdoptionInfo a:visited {
	color: #fff;
}

div.requestAdoptionInfo a:hover {
	color: #fff;
}

/*** User profile pages ***/

/* User login, registration, forgot user name, forgot password*/
.userpage .ja-content-main {
    width: auto;
    float: none;
}

.userpage div.userRegistration legend {
    padding-bottom: 10px;
}

.userpage div.userRegistration dl dt {
    padding-right: 10px;
}

/* User login */
div.loginsubpage .login-fields {
    margin-bottom: 15px;
}

div.loginsubpage .login-fields label {
    display: block;
    float: left;
    min-width: 80px;
    line-height: 23px;
}

div.loginsubpage button {
    background: none repeat scroll 0 0 #1478C4;
    border: medium none;
    color: #FFFFFF;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

div.loginsubpage button:hover {
    background: none repeat scroll 0 0 #222222;
}

div.loginlinksubpage ul li {
    padding-left: 0;
    margin-top: 5px;
}

/* Edit profile */
div.profile-editsubpage fieldset dt {
    min-width: 180px;
}

/*** Admin pages ***/

/* Admin login, registration, forgot user name, forgot password*/
.adminfunction #ja-mainbody {
    width: auto;
    max-width: none;
    float: none;
    border-right: none;
}

.adminpage #ja-mainbody {
    border-right: none;
}

.adminpage .ja-content-main {
    width: auto;
    float: none;
    border: none;
}

.adminpage .ja-content-main p {
    margin: 0;
}

.adminfunction .ja-content-main {
    width: 750px;
    float: left;
}

/* General layout */
.adminfunction fieldset.formFieldset ol.formContainer li {
    padding: 5px 5px 5px 0;
}

.adminfunction table tr td {
    padding: 5px 5px 5px 0;
}

/* Hide the title */
.adminfunction .ja-content-main .item-pagesubpage h2 {
    display: none;
}

/* Admin function menu */
.adminfunction .adminMenu {
    margin: 0 0 10px 0;
}

.adminfunction .adminMenu span {
    padding: 0 10px;
}

.adminfunction table.dataTable span {
    padding: 0 3px;
}

/* Event photo */
table.eventPhotos img.thumbnail {
    max-width: 180px;
}

table.eventPhotos img.photo {
    max-width: 250px;
}

/* Event schedule */
.adminfunction .ja-content-main .item-pagesubpage span.fc-header-title h2 {
    display: inline;
}

/* Event item */
table.eventItems tr td {
    padding: 5px 5px 5px 0;
}

table.eventItems tr td hr {
    height: 3px;
    border: 0;
    background-color: #CCC;
    color: #CCC;
}

table.eventItems tr td span {
    padding: 0 3px;
}

table.eventItems tr td p {
    display: inline;
}

/* Event calendar */
.fc-event-time, .fc-event-title {
    display: block;
}

/* Event registration */
table.registrationOptions thead,
table.attendeesInformation thead {
    border-bottom: 1px solid #000;
}

table.registrationOptions thead tr td,
table.attendeesInformation thead tr td {
    padding: 0 25px 5px 0;
}

table.registrationOptions tbody,
table.attendeesInformation tbody {
    padding: 10px 0 0 0;
}

table.registrationOptions tbody tr td,
table.attendeesInformation tbody tr td {
    padding: 5px 25px 0 0;
}

table.registrationOptions tbody tr td span,
table.attendeesInformation tbody tr td span {
    padding: 0 3px;
}

/*** Waiting Children ***/
.bodysubpage .ja-content-main div.waitingChildrenSearch select {
    margin-right: 20px;
}

.bodysubpage .ja-content-main div.waitingChildrenList {
    padding: 20px 0;
}

.bodysubpage .ja-content-main div.waitingChildrenList div.child {
    width: 150px;
    height: 240px;
    float: left;
    margin-right: 25px;
}

.bodysubpage .ja-content-main div.waitingChildrenList div.child div.photo {
    width: 150px;
    text-align: center;
    padding: 0;
}

.bodysubpage .ja-content-main div.waitingChildrenList div.child div.photo img {
    max-width: 150px;
    max-height: 150px;
    margin: 0;
}

.bodysubpage .ja-content-main div.waitingChildrenList div.child div.description {
    margin: 15px 0 0 0;
    text-align: center;
}

.bodysubpage .ja-content-main div.waitingChildrenList div.child div.description span {
    display: block;
}

.bodysubpage .ja-content-main div.waitingChildrenView div.photo {
    width: 220px;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 20px 20px 0 0;
}

.bodysubpage .ja-content-main div.waitingChildrenView div.photo img {
    width: 220px;
    margin: 0;
}

.bodysubpage .ja-content-main div.waitingChildrenView div.description {
    width: 290px;
    margin: 20px 0;
    float: left;
    overflow: hidden;
    position: relative;
}

.bodysubpage .ja-content-main div.waitingChildrenView div.description span {
    display: block;
}

.bodysubpage .ja-content-main div.waitingChildrenView div.description span.last {
    margin: 0 0 10px 0;
}

/*** Giving catalog ***/
.bodysubpage .ja-content-main div.givingCatalogHeader {
    overflow: hidden;
    width: 100%;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.title {
    position: relative;
    float: left;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    background: none repeat scroll 0 0 #F2DEAE;
    z-index: 999;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.caption {
    border: 1px solid #C3D6F9;
    padding: 3px;
    cursor: pointer;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.caption span.down-btn {
    margin: 0 10px 0 5px;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.caption span.text {
    font-size: 16px;
    font-weight: bold;
    color: #26467A;
    padding: 0;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.caption span.text span.count {
    display: none;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details {
    display: none;
    background: none repeat scroll 0 0 #F7EACB;
    border: 1px solid #C3D6F9;
    border-top: none;
    padding: 3px;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details span.empty {
    display: block;
    text-align: center;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items li {
    padding: 0 10px;
    overflow: hidden;
    border-bottom: 1px solid #C3D6F9;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items li div.count {
    position: relative;
    float: left;
    width: 40px;
    padding: 3px 0;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items li div.count input {
    width: 25px;
    padding: 0;
    text-align: right;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items li div.name {
    position: relative;
    float: left;
    width: 150px;
    color: #26467A;
    font-weight: bold;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items li div.name span.level {
    display: block;
    color: #000000;
    font-weight: normal;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items li div.amount {
    position: relative;
    float: right;
    text-align: right;
    font-weight: bold;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details ul.items li div.amount span.remove {
    display: block;
    font-weight: normal;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details div.checkout {
    padding: 0 10px;
    overflow: hidden;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details div.checkout div.desc {
    position: relative;
    float: left;
    width: 170px;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details div.checkout div.desc span.total {
    font-weight: bold;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details div.checkout div.desc span.info {
    font-size: 10px;
    display: block;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details div.checkout div.link {
    position: relative;
    float: right;
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details div.checkout div.link a {
    
}

.bodysubpage .ja-content-main div.givingCatalogHeader div.cart div.details div.checkout div.link a span.cart-btn{
    margin: 0;
}

.bodysubpage .ja-content-main div.givingCatalog {
    margin: 20px 0;
}

.bodysubpage .ja-content-main div.givingCatalog div.title {
    background: #578cb7;
    text-align: left;
    padding: 4px;
    margin: 5px 0;
}

.bodysubpage .ja-content-main div.givingCatalog div.title h3 {
    color: #FFFFFF;
    font-family: georgia, times, serif;
    font-size: 16px;
    padding: 4px;
    margin: 0;
}

.bodysubpage .ja-content-main div.givingCatalog div.body {
    overflow: hidden;
    width: 100%;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.picture {
    position: relative;
    float: left;
    width: 210px;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items {
    position: relative;
    float: left;
    width: 520px;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul {
    list-style-type: none;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul li {
    overflow: hidden;
    padding: 3px 3px 5px 3px;
    border-bottom: 1px solid #578cb7;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul li.last {
    border: none;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul li span.name {
    position: relative;
    float: left;
    width: 350px;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul li span.option {
    position: relative;
    float: right;
    width: 160px;
    margin: 0 0 10px 0;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul li span.option select {
    width: 100%;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul li span.amount {
    position: relative;
    float: left;
    width: 85px;
    font-weight: bold;
}

.bodysubpage .ja-content-main div.givingCatalog div.body div.items ul li span.addcart {
    position: relative;
    float: right;
    margin: 0 10px 0 0;
}

/*** General layout ***/
/* Forms layout */
#userForm table tr td {
    vertical-align: top;
}

#jsErrorMsg {
    display: none;
    color: red;
    font-weight: bold;
}

.ja-content-main span.required {
    color: red;
}

/* Display tables */
table.resources {
    width: 100%;
    border-top: 1px solid #578cb7;
    border-left: 1px
    solid #578cb7;
}

table.resources th {
    background-color: #578cb7;
	border-right: 1px solid #578cb7;
    color: #fff;
    text-align: left;
    padding: 0.25em 0.5em;
}

table.resources td {
    border-right: 1px solid #578cb7;
    border-bottom: 1px solid #578cb7;
    padding: 0.25em 0.5em;
}

table.resources td.subsection {
    background-color: #cde3ef;
	border-right: 1px solid #cde3ef;
    color: #578cb7;
    font-weight: bold;
}
table.resources td.alt {
	background-color: #ECF5F9;
}

table.inpage {
    width: 135px;
    float: right;
    margin: 0 0 6px 12px;
    border: 1px solid #578cb7;
    background-color: #cde3ef;
}

table.inpage td {
    padding: 0.25em;
}

p.callout {
	font-size: 135%; 
	color:#f1ac28;
	text-transform: uppercase; 
	font-weight: bold;
}

/* Sponsor a Child */
div.sponsorChild {
    width: 189px;
    background: url("/images/background/sponsor-now-bg.png") repeat-x 0px 0px;
	text-align:center;
}

div.sponsorChild p {
    color: #B1CCD9;
    padding-left: 2px;
    font-size: 14px;
}
div.sponsorChild a {
    color: #fff;
    padding-left: 2px;
    font-size: 14px;
}

div.sponsorChild img {
    padding: 5px 0;
}